[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
looker-sdk = "*"
requests = "*"
beautifulsoup4 = "*"
jinja2 = "*"
gitpython = "*"
paramiko = "*"
fabric = "*"
backoff-utils = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
